<h1>Photo Detail</h1>

<dl>
  <dt>Image</dt>
  <dd><img src = ""></dd>

  <dt>Caption</dt>
  <dd>ex</dd>

  <dt>Owner</dt>
  <dd>dd</dd>

  <dt>Posted</dt>
  <dd>ex</dd>

  <dt>Edit photo</dt>

  <dt>Delete photo</dt>
  
</dl>
